.taskFormContainer {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.submitButton button {
  margin: 6px;
  background-color: #4CAF50;
  border-radius: 10px;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addTask {
  margin: 20px;
}