.appWrapper {
  margin: 0;
  padding: 0;
}

.appMain {
  height: 640px;
  padding: 2rem 1.5rem;
  text-align: center;
}

.appMain img {
  width: 30%;
}

@media only screen and (min-width:600px) {
  .AppMain {
    height: 460px;
  }
}